!!!
%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "noindex", :name => "robots"}/
    %meta{:content => "noindex", :name => "googlebot"}/

    %script{src: javascripts_min_path, type: 'text/javascript'}
    %link{href: stylesheets_min_path, media: 'screen', rel: 'stylesheet', type: 'text/css'}

    %meta{:content => "width=device-width, user-scalable=no", :name => "viewport"}/

    %title= config.site_title

  %body
    %h1.page-title= config.site_title
    #images-container
      - if total_pages > 1
        .navigation
          %ul
            %li{class: "#{'active' if current_page == 1}"}
              %a{href: site_url('index.html')} 1
            - total_pages.times do |i|
              %li{class: "#{'active' if current_page == i + 2}"}
                %a{href: site_url("page-#{i + 2}.html")}= i + 2

      .images
        - images.each do |image|
          .image
            - title = capture_haml do
              %a{href: image.original_url, target: :blank } Download Full Resolution
            %a.image-link.fancybox{rel: 'group', href: image.large_url, title: title, data: {original: image.original_url} }
              %img{src: image.thumb_url }